/************
* Variables *
************/


/*********
* Global * 
*********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: lightblue;
  min-width: 100vw;
  min-height: 100vh;
}
body {
  background-color: lightblue;
  width: 100%;
  min-height: 100%;
  margin: 0;
}

/******
* App * 
******/

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
} */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}